
div.image img[src="qps-overview.png"]{ 
    width:700px; 
}
div.image img[src="quickproperties_sample-propsdialogs.png"]{ 
    width:350px; 
}
div.image img[src="quickproperties_QpsPropertiesEditor-QML.png"]{ 
    width:350px; 
}
div.image img[src="quickproperties_QpsPropertiesEditor-Cpp.png"]{ 
    width:350px; 
}

div.image img[src="quickproperties_sample-propsedit.png"]{ 
    width:350px; 
}

div.image img[src="quickproperties_sample-propsgraph.png"]{ 
    width:350px; 
}

